.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.xiaoyan-jin {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 122px;
  top: 38px;
  width: 270px;
  height: 130px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 484px;
  position: absolute;
  left: 1145px;
  top: 29px;
}
.home {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.contact2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.frame-3 {
  width: 1439px;
  height: 231px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 679px;
}
.contact-us {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 72px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 422px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 138px;
  width: 666px;
  height: 74px;
}
.my-contact-xiaoyan-jin-xjin-01-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 720px);
  top: 352px;
  width: 652px;
  height: 75px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 280px;
  top: 482px;
  width: 430px;
  height: 94px;
}
.ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 280px;
  top: 649px;
  width: 543px;
  height: 211px;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 878px;
}
.xiaoyan-jin-university-of-maryland-fall-2025 {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
